.image {
  background: url(../assets/images/Frame-186.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.focus:focus {
  border-color: #a1812e;
  outline: none;
  border-width: 2px;
}
