/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.borderBlack {
  /* @apply border-black/10; */
  @apply border-gray-500;
}
.image {
  background: url("./assets/images/Frame-186.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.mobileResponsiveness {
}
.tableResponsiveness {
  @apply md:my-2 md:mx-[3rem] md:text-[0.8rem];
}
.desktopResponsiveness {
  @apply lg:my-[4rem]  lg:mx-[10rem] lg:text-[1rem];
}
.largeScreenResponsiveness {
  @apply xl:mx-[21rem] 2xl:mx-[55rem] 2xl:my-[10rem];
}

/*  */
.component {
  @apply font-pop h-screen w-screen text-base text-gray-500;
}

.inputField {
  @apply w-full my-1 px-3 py-1 rounded-xl pr-8 border-2 border-gray-500 outline-none focus:border-[#a1812e];
}

.resetInput {
  @apply w-12 text-2xl h-10 p-3 rounded-xl border-2 border-gray-500 outline-none focus:border-[#a1812e];
}

.btn {
  @apply w-full flex flex-row justify-center items-center px-8 py-2.5 rounded-xl bg-[#a1812e];
}
