/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.borderBlack {
  /* @apply border-black/10; */
  @apply border-gray-500;
}
.image {
  background: url("./assets/images/Frame-186.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.component {
  @apply w-screen;
  @apply font-pop;
  @apply h-screen;
}

.inputDiv {
  @apply mb-2;
  @apply lg:mb-8;
  @apply xl:mb-12;
}
