/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.borderBlack {
  @apply border-black/10;
}
.image {
  background: url(./assets/images/Frame-186.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
